.display{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media only screen and (max-width:688px){
    .display{
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .display{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width:992px) and (max-width: 1470px){
    .display{
        grid-template-columns: repeat(3,1fr);
    }
}