.banner{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(../../../Images/home-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    

}
.banner-text{
    padding-top: 400px;
    padding-bottom: 50px;
    color: #fff;
}
.header-font{
    font-size: 80px;
    font-weight:800;
}